<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mikevane.covid.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.mikevane.covid.entity.Student">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,user_id,
        create_time,update_time
    </sql>
    <update id="updatePasswordByid">
        UPDATE USER
        SET `password` = #{password}
        WHERE
                id = (
                SELECT
                    user_id
                FROM
                    student
                WHERE
                    id = #{studentId})
    </update>
    <update id="updatePhoneById">
        UPDATE `user`,`student`
        SET USER.phone = #{phone},
            student.phone = #{phone}
        WHERE
            USER.id = student.user_id
            AND student.id = 7
    </update>

    <select id="selectDistinctGrades" resultType="java.lang.String">
        SELECT DISTINCT grade_class from student
    </select>

</mapper>
